# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/temp-imgs/images/background-accent-double-ss-full.png
public/temp-imgs/images/background-accent-double-ss.png
public/temp-imgs/images/bridge.jpg
public/temp-imgs/images/bythenumber-financialbg.jpg
public/temp-imgs/images/comb-pattern-1.svg
public/temp-imgs/images/comb-pattern-2.svg
public/temp-imgs/images/default-member-sq.jpg
public/temp-imgs/images/default-member.jpg
public/temp-imgs/images/default-member.png
public/temp-imgs/images/flameicon.png
public/temp-imgs/images/hex-plus.svg
public/temp-imgs/images/level4box2bg.jpg
public/temp-imgs/images/level4box3bg.jpg
public/temp-imgs/images/logo-horizontal.png
public/temp-imgs/images/logo.png
public/temp-imgs/images/meetus-icon.svg
public/temp-imgs/images/play-icon.png
public/temp-imgs/images/rivers.svg
public/temp-imgs/images/section1-homebg.png
public/temp-imgs/images/section2-admissionsbg.png
public/temp-imgs/images/section2-admissionsrightbg.jpg
public/temp-imgs/images/section2-admissionsrightbg2.jpg
public/temp-imgs/images/section2-financialbg.png
public/temp-imgs/images/section2-homebg.png
public/temp-imgs/images/toolbar_find.png
public/temp-imgs/images/visit.jpg
public/temp-imgs/images/whitelogo-stacked.png
public/temp-imgs/images/whitelogo.png
public/temp-imgs/images/calendar-events/alt-break-bridge.jpg
public/temp-imgs/images/calendar-events/alt-break.jpg
public/temp-imgs/images/calendar-events/events-footer.jpg
public/temp-imgs/images/calendar-events/olli-2000.jpg
public/temp-imgs/images/calendar-events/olli-autonomous-2000.jpg
public/temp-imgs/images/faculty-page/300x225.gif
public/temp-imgs/images/hero/aaron-barnaby-135630-unsplash.jpg
public/temp-imgs/images/hero/adolfo-felix-572763-unsplash.jpg
public/temp-imgs/images/hero/alain-pham-248563-unsplash.png
public/temp-imgs/images/hero/beaker.jpg
public/temp-imgs/images/hero/beaker2.jpg
public/temp-imgs/images/hero/beaker3.jpg
public/temp-imgs/images/hero/beaker31.jpg
public/temp-imgs/images/hero/ben-esteves-157831-unsplash.jpg
public/temp-imgs/images/hero/canva---torres,-hv,-electricity,-light,-energy.jpg
public/temp-imgs/images/hero/canva---two-test-tubes-sm.jpg
public/temp-imgs/images/hero/canva---two-test-tubes.jpg
public/temp-imgs/images/hero/canva---two-test-tubes1.jpg
public/temp-imgs/images/hero/chang-duong-people-398144-unsplash.jpg
public/temp-imgs/images/hero/chang-duong-people-sm.jpg
public/temp-imgs/images/hero/chang-duong-people-sm1.jpg
public/temp-imgs/images/hero/chang-duong-people.jpg
public/temp-imgs/images/hero/chang-duong-peopleunsplash.jpg
public/temp-imgs/images/hero/chang-duong-peopleunsplash1.jpg
public/temp-imgs/images/hero/college-2000-v2.jpg
public/temp-imgs/images/hero/college-2000-v3.jpg
public/temp-imgs/images/hero/college-2000-v4.jpg
public/temp-imgs/images/hero/computer-code-2000.jpg
public/temp-imgs/images/hero/eee-banner-2000.jpg
public/temp-imgs/images/hero/eee.jpeg
public/temp-imgs/images/hero/electricity-tower-2000.jpg
public/temp-imgs/images/hero/electricity-tower-20001.jpg
public/temp-imgs/images/hero/elevate-755051-unsplash.jpg
public/temp-imgs/images/hero/equations.png
public/temp-imgs/images/hero/familyhome.jpg
public/temp-imgs/images/hero/fractal-hassan-786861-unsplash.jpg
public/temp-imgs/images/hero/fractal-hassan-786861-unsplash1.jpg
public/temp-imgs/images/hero/fractal-hassan-786861-unsplash2.jpg
public/temp-imgs/images/hero/fractal-hassan-786861-unsplash3.jpg
public/temp-imgs/images/hero/garden.jpg
public/temp-imgs/images/hero/garden1.jpg
public/temp-imgs/images/hero/grand-canyon.jpg
public/temp-imgs/images/hero/hero-admissions.jpg
public/temp-imgs/images/hero/hero-financialaid.jpg
public/temp-imgs/images/hero/hero-home.jpg
public/temp-imgs/images/hero/hero-placeholder.jpg
public/temp-imgs/images/hero/hero-placeholder1.jpg
public/temp-imgs/images/hero/honey-harvest.jpg
public/temp-imgs/images/hero/honey.jpg
public/temp-imgs/images/hero/internship.jpg
public/temp-imgs/images/hero/kyle-glenn-598701-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-2-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-3-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-4-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-5-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-747379-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-747388-unsplash.jpg
public/temp-imgs/images/hero/louis-reed-beaker-unsplash.jpg
public/temp-imgs/images/hero/markus-spiske-1402880-unsplash.jpg
public/temp-imgs/images/hero/me-banner-2000.jpg
public/temp-imgs/images/hero/me-banner-machine-2000.jpg
public/temp-imgs/images/hero/me-machine-banner-2000.jpg
public/temp-imgs/images/hero/new-headerver1.jpg
public/temp-imgs/images/hero/nik-shuliahin-585307-unsplash.jpg
public/temp-imgs/images/hero/orientation-leaders.jpg
public/temp-imgs/images/hero/orientation-leaders2.jpg
public/temp-imgs/images/hero/orientation.jpg
public/temp-imgs/images/hero/pers_rear_closeup.jpg
public/temp-imgs/images/hero/ruthie-163318-unsplash.jpg
public/temp-imgs/images/hero/samuel-zeller-432121-unsplash.jpg
public/temp-imgs/images/hero/stingers-up.jpg
public/temp-imgs/images/hero/structures.jpg
public/temp-imgs/images/hero/student-research-2000.jpg
public/temp-imgs/images/hero/students-hero.jpg
public/temp-imgs/images/hero/walkway-2.jpg
public/temp-imgs/images/hero/walkway-3.jpg
public/temp-imgs/images/hero/walkway-31.jpg
public/temp-imgs/images/hero/walkway.jpg
public/temp-imgs/images/hero/zoltan-tasi-681246-unsplash.jpg
public/temp-imgs/images/hero/unsorted-images-to-sort/27311722280_ed3d3dd812_k.jpg
public/temp-imgs/images/hero/unsorted-images-to-sort/40997263975_57ed604e3d_o.jpg
public/temp-imgs/images/hero/unsorted-images-to-sort/41896027381_99bb5899e7_o.jpg
public/temp-imgs/images/home-images/beehive-2.jpg
public/temp-imgs/images/home-images/fall_campus.jpg
public/temp-imgs/images/home-images/farmersmarket.jpg
public/temp-imgs/images/icon/formal_process_art.png
public/temp-imgs/images/icon/formal_process_artwork.png
public/temp-imgs/images/icon/formal_review_check.png
public/temp-imgs/images/icon/internal_review_art.png
public/temp-imgs/images/icon/ir_process_art.png
public/temp-imgs/images/icon/ir_review_checks.png
public/temp-imgs/images/quicklink-bg-images/comb-tiny.png
public/temp-imgs/images/quicklink-bg-images/quicklinks_bg.jpg
public/temp-imgs/images/quicklink-bg-images/hp/arts3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/business3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/continuing3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/education3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/engineering3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/health3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/mathematics3bg.png
public/temp-imgs/images/quicklink-bg-images/hp/social3bg.png
public/temp-imgs/images/quicklink-bg-images/solid/applybg.png
public/temp-imgs/images/quicklink-bg-images/solid/arts2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/artsbg.png
public/temp-imgs/images/quicklink-bg-images/solid/business2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/businessbg.png
public/temp-imgs/images/quicklink-bg-images/solid/continuing2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/continuingbg.png
public/temp-imgs/images/quicklink-bg-images/solid/education2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/educationbg.png
public/temp-imgs/images/quicklink-bg-images/solid/engineering2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/engineeringbg.png
public/temp-imgs/images/quicklink-bg-images/solid/enrollmentbg.png
public/temp-imgs/images/quicklink-bg-images/solid/financial.png
public/temp-imgs/images/quicklink-bg-images/solid/financialaidforms2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/financialaidformsbg.png
public/temp-imgs/images/quicklink-bg-images/solid/healthbg.png
public/temp-imgs/images/quicklink-bg-images/solid/mathematicsbg.png
public/temp-imgs/images/quicklink-bg-images/solid/orientationbg.png
public/temp-imgs/images/quicklink-bg-images/solid/policies2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/policiesbg.png
public/temp-imgs/images/quicklink-bg-images/solid/prospective2bg.png
public/temp-imgs/images/quicklink-bg-images/solid/prospectivebg.png
public/temp-imgs/images/quicklink-bg-images/solid/scholarshipsbg.png
public/temp-imgs/images/quicklink-bg-images/solid/socialbg.png
public/temp-imgs/images/quicklink-bg-images/white/applybg.png
public/temp-imgs/images/quicklink-bg-images/white/arts2bg.png
public/temp-imgs/images/quicklink-bg-images/white/artsbg.png
public/temp-imgs/images/quicklink-bg-images/white/business2bg.png
public/temp-imgs/images/quicklink-bg-images/white/businessbg.png
public/temp-imgs/images/quicklink-bg-images/white/continuing2bg.png
public/temp-imgs/images/quicklink-bg-images/white/continuingbg.png
public/temp-imgs/images/quicklink-bg-images/white/education2bg.png
public/temp-imgs/images/quicklink-bg-images/white/educationbg.png
public/temp-imgs/images/quicklink-bg-images/white/engineering2bg.png
public/temp-imgs/images/quicklink-bg-images/white/engineeringbg.png
public/temp-imgs/images/quicklink-bg-images/white/enrollmentbg.png
public/temp-imgs/images/quicklink-bg-images/white/financial.png
public/temp-imgs/images/quicklink-bg-images/white/financialaidforms2bg.png
public/temp-imgs/images/quicklink-bg-images/white/financialaidformsbg.png
public/temp-imgs/images/quicklink-bg-images/white/healthbg.png
public/temp-imgs/images/quicklink-bg-images/white/mathematicsbg.png
public/temp-imgs/images/quicklink-bg-images/white/orientationbg.png
public/temp-imgs/images/quicklink-bg-images/white/policies2bg.png
public/temp-imgs/images/quicklink-bg-images/white/policiesbg.png
public/temp-imgs/images/quicklink-bg-images/white/prospective2bg.png
public/temp-imgs/images/quicklink-bg-images/white/prospectivebg.png
public/temp-imgs/images/quicklink-bg-images/white/scholarships2bg.png
public/temp-imgs/images/quicklink-bg-images/white/scholarshipsbg.png
public/temp-imgs/images/quicklink-bg-images/white/socialbg.png
public/temp-imgs/images/t4-quadrant/bg-default.jpg
public/temp-imgs/images/unnamed-images-to-sort/25023984267_d026607d65_z.jpg
public/temp-imgs/images/unnamed-images-to-sort/26264495638_d8610599ee_z.jpg
public/temp-imgs/images/unnamed-images-to-sort/27209153008_0e54f81984_o.jpg
public/temp-imgs/images/unnamed-images-to-sort/27453034210_bd3b629d80_k.jpg
public/temp-imgs/images/unnamed-images-to-sort/27453036160_e2eeb3fbc9_o.jpg
public/temp-imgs/images/unnamed-images-to-sort/39184785624_95fe75273f_k.jpg
public/temp-imgs/images/unnamed-images-to-sort/40371016304_1a1a0a7493_o.jpg
public/temp-imgs/images/unnamed-images-to-sort/40997263975_57ed604e3d_o.jpg
public/temp-imgs/images/unnamed-images-to-sort/41896027381_99bb5899e7_o1.jpg
public/temp-imgs/images/unnamed-images-to-sort/45487169125_a358eea078_o.jpg
public/temp-imgs/images/unnamed-images-to-sort/46508207895_f249743fd7_z.jpg
public/temp-imgs/images/unnamed-images-to-sort/46700312544_71de39a4f7_z.jpg
public/temp-imgs/images/unnamed-images-to-sort/46700312544_71de39a4f7_z1.jpg
public/temp-imgs/images/unnamed-images-to-sort/chalk-circles.jpg
