/* line 1, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form,
label {
  /*color: #fff;*/
}

/* line 6, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form {
  padding: 1em 5% 2em;
  /*border: 2px solid #e6b711;*/
}

/* line 11, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form * {
  max-width: 100% !important;
}

/* line 15, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form:not(#csus-global-navbar.navbar-static-top) fieldset {
  padding-top: 0;
}

/* line 20, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
fieldset fieldset {
  padding-left: 0;
  margin-top: 2em;
}

/* line 25, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
:not(.search-results) input,
:not(.search-results) textarea,
:not(.search-results) select {
  border: 1px solid #ccc;
  padding: .5em 1em;
  margin-left: 1ch;
}

/* line 33, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
fieldset fieldset legend {
  font-size: 18px;
}

/* line 37, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
:not(.search-results) input[type="text"],
:not(.search-results) textarea {
  width: 50%;
  min-width: 300px;
}

/* line 43, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form p {
  padding-left: 0 !important;
}

/*.qualtrics-wrapper {*/
/*    border: 2px solid #e6b711;*/
/*    overflow: hidden;*/
/*    padding: 0px;*/
/*    position: relative;*/
/*    height: 350px;*/
/*}*/
/*.qualtrics-wrapper iframe {*/
/*    border: none;*/
/*}*/
/**************************** datepicker css ************************/
/* line 69, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker {
  text-align: center;
}

/* line 73, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-trigger {
  margin: 0 0 0 5px;
  vertical-align: text-top;
}

/* line 78, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker table {
  width: 256px;
  table-layout: fixed;
}

/* line 83, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-header {
  background-color: #000 !important;
  background-image: none !important;
  border-radius: 0;
  padding: 10px 10px;
}

/* line 90, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: none !important;
}

/* line 95, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-prev {
  background-color: transparent !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAUklEQVQYlXWPwQnAMAwDj9IBOlpH8CjdJLNksuujFIJjC/w6WUioFBcqJ7sGEAD5Y/hpqLRghRv4YQlUjqXI3Kql2MixraGbEhVcDXcFUR/1egEHNuTBpFW0NgAAAABJRU5ErkJggg==") !important;
  height: 12px !important;
  width: 7px !important;
  margin: 5px;
  float: left;
}

/* line 104, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-next,
.ui-datepicker-prev {
  cursor: pointer;
}

/* line 109, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-next {
  background-color: transparent !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAVUlEQVQYlXWQ0Q3AIAhEL07gKI7kKN2kI3Wk1w9to3KQEELucQEECOizhhTQGHFnwOdgobWx0GkZILfYBhXl0STVbPoBarbkL7ozN/F8VBBXh8uJgF5r2hrI4GHUkAAAAABJRU5ErkJggg==") !important;
  height: 12px !important;
  width: 8px !important;
  margin-top: 5px;
  float: right;
}

/* line 118, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-month {
  color: #fff;
  font-size: 14px !important;
  font-weight: 600;
  text-align: left;
  border: none !important;
  margin-right: 17px !important;
  vertical-align: text-top;
}

/* line 128, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-year {
  color: #fff;
  font-size: 14px !important;
  font-weight: 600;
  text-align: left;
  vertical-align: text-top;
}

/* line 136, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker td {
  vertical-align: top;
}

/* line 140, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker .ui-state-default {
  border-radius: 2px;
  border-color: #edebeb !important;
  /* background: #ccc !important; */
  width: 24px;
  height: 24px;
  padding: 0 !important;
  line-height: 24px;
  text-align: center !important;
  /* font-family: Open Sans, Arial, sans-serif; */
  color: #000;
  font-size: 13px;
  font-weight: 400 !important;
  margin: 7px 0 0 4px;
  padding: 1px !important;
}

/* line 157, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker .ui-state-default.ui-state-highlight,
.ui-state-default.ui-state-hover {
  background-color: #55ba47 !important;
  color: #000 !important;
}

/* line 163, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker .ui-state-active {
  background-color: #043927 !important;
  color: #fff !important;
}

/* line 168, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-close {
  display: none;
}

/* line 173, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-state-default.ui-datepicker-current {
  float: none !important;
  font-family: Open Sans, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  border-width: 0 !important;
  border: none;
  vertical-align: top;
  margin: 0 0 0 -20px !important;
  background-color: transparent !important;
}

/* line 187, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker-buttonpane.ui-widget-content {
  background-color: #000;
  margin: 0 !important;
  height: 28px;
  padding: 0 !important;
}

/* line 194, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

/* line 204, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form:not(#csus-global-navbar.navbar-static-top) fieldset > fieldset {
  padding: 1em 5%;
  margin-top: 2em;
  background: rgba(196, 181, 129, 0.1);
  border-radius: 4px;
  border-color: #c4b581;
}

/* line 212, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] > fieldset * {
  font-size: 16px;
}

/* line 216, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] fieldset legend {
  font-size: 24px;
  padding: 0 1em;
}

/* line 221, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] fieldset fieldset {
  border-radius: 4px;
  border-color: #c6bea2;
}

/* line 226, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] fieldset fieldset legend {
  font-size: 16px;
  padding: 0 .5em;
}

/* line 231, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] fieldset + fieldset,
form[action*="webhost"] fieldset + fieldset,
form[action*="webapps"] fieldset + p,
form[action*="webhost"] fieldset + p {
  margin-top: 1em;
}

/* line 238, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webhost"] > fieldset * {
  font-size: 16px;
  font-family: sans-serif;
}

/* line 243, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webhost"] fieldset legend {
  font-size: 24px;
  padding: 0 1em;
}

/* line 248, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webhost"] fieldset fieldset {
  border-radius: 4px;
  border-color: #c6bea2;
}

/* line 253, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webhost"] fieldset fieldset legend {
  font-size: 16px;
  padding: 0 .5em;
}

/* line 258, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form p {
  margin: 0 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 265, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
p label,
p label span {
  flex: 1 1;
  display: inline-flex;
  padding: .5rem;
}

/* line 272, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] p label + input,
form[action*="webapps"] p label + select,
form[action*="webapps"] p label + textarea,
form[action*="webhost"] p label + input,
form[action*="webhost"] p label + select,
form[action*="webhost"] p label + textarea {
  flex: 1 1 50%;
  width: 70%;
  display: inline-flex;
  padding: .5rem;
  border-radius: 4px;
}

/* line 286, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] p label + select,
form[action*="webhost"] p label + select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: black;
  display: inline-flex !important;
  text-align: unset;
  background-color: #e8e8e8 !important;
  font: 16px !important;
  border-radius: 4px !important;
}

/* line 300, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] input[type="radio"],
form[action*="webhost"] input[type="radio"] {
  margin: 0 1ch 0 2ch;
}

/* line 305, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] input + i,
form[action*="webhost"] input + i {
  flex: 1 1 100%;
  text-align: right;
  font-style: normal;
  font-size: 14px;
  padding: .5em 0 0 0;
}

/* Buttons */
/* line 317, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] p > input[type="submit"],
form[action*="webhost"] p > input[type="submit"] {
  flex: 0 0 40%;
}

/* line 322, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] p > input[type="reset"],
form[action*="webhost"] p > input[type="reset"] {
  flex: 0 0 40%;
}

/* line 327, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/form.scss */
form[action*="webapps"] input[type="submit"],
form[action*="webhost"] input[type="submit"],
form[action*="webapps"] input[type="reset"],
form[action*="webhost"] input[type="reset"] {
  background: #00573d;
  color: #fff;
  font-size: 16px;
  margin: 1em 30%;
  border-radius: 4px;
  padding: .5rem;
  width: 40%;
}

/*# sourceMappingURL=form.css.map */