/* ===================================================== Table ====================*/
/* line 3, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.t4 {
  /* moved from t4 */
}

/* line 5, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.t4 .table {
  padding: 2em 5%;
  height: 100%;
}

/* line 9, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.t4 .table td a:hover {
  color: var(--stgr);
}

/* line 16, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
table {
  color: #000;
}

/* line 20, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
table thead,
table th {
  background-color: #E6B711;
}

/* line 25, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
table tbody {
  background-color: #FFF;
}

/* line 29, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #E6B711;
  border-top: 0;
  border-right: 0;
  vertical-align: middle;
  text-align: left;
}

/* line 42, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-bordered > tbody > tr > td:first-child,
.table-bordered > tbody > tr > th:first-child,
.table-bordered > tfoot > tr > td:first-child,
.table-bordered > tfoot > tr > th:first-child,
.table-bordered > thead > tr > td:first-child,
.table-bordered > thead > tr > th:first-child {
  border-left: 0;
}

/* line 51, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th {
  font-weight: 600;
}

/* line 59, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.t5 .table-bordered > tbody > tr > td {
  vertical-align: top;
}

/* line 64, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #000;
  color: #fff;
}

/* line 70, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F8F8F8;
}

/* line 74, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-striped tbody tr:nth-of-type(even) {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.65);
}

/* line 79, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table h2,
.table h2 {
  background: #dad490;
  color: #004e38;
  /*ssgreen*/
  padding: .5em 0 .5em 5%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 92, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.box3.table .table-responsive,
.box4.table .table-responsive {
  background: #E6B711;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 8px;
}

/* line 100, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.box3.table table,
.box4.table table {
  margin-bottom: 0;
}

/* line 105, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.box3.table h2,
.box4.table h2 {
  background: #E6B711;
  border-top: 1px solid #E6B711;
}

/* line 111, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.box3.table table th,
.box3.table table td,
.box4.table table th,
.box4.table table td {
  padding: .5em 3%;
  font-size: 14px;
  text-align: left;
}

/* line 120, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.t4.page-units-functions .box3.table td,
.t4.page-units-functions .box4.table td {
  padding: 1ch;
}

/* line 125, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.box3.table table thead *,
.box4.table table thead *,
.t5 table thead > tr + tr th,
.t5 table thead + thead th {
  background: #dad490;
  font-weight: 600;
}

/* line 133, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.table-bordered > tbody > tr > td.td-merge {
  border-bottom: 1px solid #fff !important;
}

/* line 137, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-tables.scss */
.td-no-break {
  whitespace: nowrap;
  white-space: nowrap;
}

/*# sourceMappingURL=module-tables.css.map */